/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;

  flex-direction: column;
  background-color: azure;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 0.5rem;
}
.input {
  margin-top: 0.75rem;
  background-color: aquamarine;
  border: solid 0.1rem blue;
  border-radius: 0.75rem;
}

.output-container {
  display: flex;
  margin: 0.75rem;
  background-color: aquamarine;
  border: solid 0.1rem blue;
  border-radius: 0.75rem;
  gap: 0.35rem;
}
.output-1 {
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
  padding: 0.5rem;
  /* background-color: rgb(70, 85, 80); */
  /* border: solid 0.1rem rgb(22, 22, 56); */
  border-radius: 0.75rem;
  gap: 0.5rem;
}
.output-2 {
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
  padding: 0.5rem;
  /* background-color: rgb(70, 85, 80); */
  /* border: solid 0.1rem rgb(22, 22, 56); */
  border-radius: 0.75rem;
  gap: 0.5rem;
}
.input form {
  display: flex;
  /*  */
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.form-inner-div {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
}
button {
  background-color: #04aa6d; /* Green color */
  color: white; /* White text color */
  border: none; /* Removes default border */
  padding: 0.98rem 2rem; /* Adds padding inside the button */
  margin-right: 0.25rem;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 1.5rem;
  cursor: pointer; /* Changes cursor to pointer on hover */
  border-radius: 1rem;
}

/* Range Slider Input */

.form-inner-div-slider {
  display: flex;
  flex-direction: column;

  margin-top: 0.25rem;
}
